#myCanvas {
    /* width : 500px;
    height : 500px; */
    border: 20px solid #c3c3c3;
    
}
#myCanvas2 {
    /* width : 500px;
    height : 500px; */
    border: 20px solid #c3c3c3;
    
}